@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
   padding:0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Fredoka One', cursive;
}
body
{
      display:flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: linear-gradient(to right,
      #e22865, #37adcb);
      color: white;
}
.box
{
   position:relative;
   width: 450px;
   height:550px;
   background:linear-gradient(to right,
   #e22865, #37adcb);
   padding: 30px 50px;
   box-shadow:25px 25px 75px rgba(0,0,0,0.25),
   10px 10px 70px rgba(0,0,0,0.25),
   inset 5px 5px 10px rgba(0,0,0,0.5),
   inset 5px 5px 20px rgba(0,0,0,0.5),
   inset -5px -5px 15px rgba(0,0,0,0.75);
}
h2
{
   
}
